<h2>Bienvenue dans l'arène</h2>

<h3>Ici, tu pourras t'entrainer ou te battre contre d'autres héros</h3>

<div class="col-sm-9">
    <router-outlet></router-outlet>
</div>
<div class="col-sm-3">
    <div class="sidebar-module">
        <h4>Bagarre ?!</h4>
        <div class="list-group">
            <a href="#" class="list-group-item" [routerLinkActive]="['active']">Porte de l'arène</a>
            <a href="#" class="list-group-item" [routerLinkActive]="['active']">Entrainement</a>
            <a href="#" class="list-group-item" [routerLinkActive]="['active']">1 contre 1</a>
        </div>
    </div>
</div>

