
<div class="shortlist_player">
    <h4>Voici des sbires pour t'entrainer !</h4>
    <h5>Ne craint de leur faire mal ! Ils sont bien équipé et en même temps... ils sont la pour ca...</h5>
</div>
<div class="shortlist_training">
    <button type="button" class="btn btn-lg btn-default" (click)="onStartTraining(1);">
        Pouchink Paul<br/>
        Niveau 1
    </button>
    <button type="button" class="btn btn-lg btn-default" (click)="onStartTraining(5);">
        Saqua Vince<br/>
        Niveau 5
    </button>
    <button type="button" class="btn btn-lg btn-default" (click)="onStartTraining(10);">
        Commun Roch<br/>
        Niveau 10
    </button>
</div>
