<h3>Liste des joueurs connectés</h3>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Héros</th>
            <th>Level</th>
            <th>Race</th>
            <th>Bagarre?!</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of listUsers">
            <td>{{ user.pseudo }}</td>
            <td>{{ user.level }}</td>
            <td>{{ user.race }}</td>
            <td>
                <button class="btn btn-success" (click)="applicationBattle(user.socketId);">Combattre</button>
            </td>
        </tr>
    </tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="battleAskModal" tabindex="-1" role="dialog" aria-labelledby="battleAskLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
          <p>Le joueur {{ socketIdAsker }} veut se battre !</p>
        <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)="acceptBattle(socketIdAsker);">
            C'est parti !</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="refuseBattle(socketIdAsker);">
            Non merci...</button>
      </div>
    </div>
  </div>
</div>