<h3>Liste des joueurs connectés</h3>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Héros</th>
            <th>Level</th>
            <th>Race</th>
            <th>Bagarre?!</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of listUsers">
            <td>{{ user.pseudo }}</td>
            <td>{{ user.level }}</td>
            <td>{{ user.race }}</td>
            <td>
                <button class="btn btn-success" (click)="applicationBattle(user);">Combattre {{ user.socketId }}</button>
            </td>
        </tr>
    </tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="battleAskModal" tabindex="-1" role="dialog" aria-labelledby="battleAskLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
            <p>
                <strong>{{ infoAsker.pseudo }}</strong>(Un(e) {{ infoAsker.race }} de level {{ infoAsker.level }}) veut se battre !
            </p>
            <p>Veut tu lui apprendres les bonnes manières ? ({{ infoAsker.socketId }})</p>
            <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)="acceptBattle(infoAsker.socketId);">
                C'est parti !</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="refuseBattle(infoAsker.socketId);">
                Non merci...</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="battleWaitModal" tabindex="-1" role="dialog" aria-labelledby="battleWaitModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
            <p>
                Votre demande à <strong>{{ infoReceiver.pseudo }}</strong>(Un(e) {{ infoReceiver.race }} de level {{ infoReceiver.level }}) de combat est envoyée !
            </p>
            <p>Il n'y a plus qu'a attendre sa reponse... {{ messageWaiting }}</p>
            <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="cancelBattle(infoReceiver.socketId);">
                Laisser tomber...</button>
      </div>
    </div>
  </div>
</div>