<h2>Bienvenue dans le vestiaire de tes heros</h2>

<h3>Ici, tu pourras gérer tout tes héros</h3>

<div class="col-sm-6 col-xs-12">
    <div>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
            Créer un personnage
        </button>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Race</th>
                <th>Lvl</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let hero of heroes" [class.info]="hero === selectedHero" [class.success]="hero.state==3" (click)="selectHero(hero)">
                <td>{{hero.name}}</td>
                <td>{{races[hero.race].name}}</td>
                <td>{{hero.level}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="col-sm-6 col-xs-12">
    <div *ngIf="selectedHero; then profileBlock else infoBlock"></div>
    <ng-template #profileBlock>
        <div id="identity-card">
            <h3>
                Fiche de <strong>{{selectedHero.name}}</strong>
            </h3>
            <label>Race :</label> {{races[selectedHero.race].name}}<br/>
            <div>
                <label>Level :</label> {{selectedHero.level}}
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em" 
                        [ngStyle]="{'width.%': xpPercentage}">
                      {{xpPercentage}}%
                    </div>
                </div>
            </div>
            <div>
                <label>Life :</label>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em" 
                        [ngStyle]="{'width.%': lifePercentage}">
                      {{lifePercentage}}%
                    </div>
                </div>
            </div>
            <input type="button" class="btn btn-default" value="Voir" (click)="viewHero()" />
            <button class="btn btn-success" (click)="mainHero()">
                <div *ngIf="isLoading" class="loader"><div class="loader-in"></div></div>
                    Héros principal</button>
            <input type="button" class="btn btn-danger" value="Virer" (click)="deleteHero()" />
        </div>
    </ng-template>
    <ng-template #infoBlock>
        <div id="identity-info">
            <p>
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Sélectionner un Héros
            </p>
            <p>
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Sinon tu peux en créer un !
            </p>
        </div>
    </ng-template>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Création de personnage</h4>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmit()" #hero="ngForm">
            <div class="form-group">
                <label for="name">Nom du personnage</label>
                <input type="text" class="form-control" id="name"
                       required
                       [(ngModel)]="model.name" name="name"
                       #name="ngModel">
                <div [hidden]="name.valid || name.pristine"
                    class="alert alert-danger">
                Il nous faut un nom pour ton héro
               </div>
            </div>
            <div class="form-group">
                <label for="race">Race du personnage</label>
                <select type="text" class="form-control" id="race"
                       required
                       [(ngModel)]="model.race" name="race"
                       #race="ngModel">
                       <option *ngFor="let r of races | slice:1" [ngValue]="r">{{r.name}}</option>
                </select>
                <p>
                    {{ races[model.race.id].info }}
                </p>
            </div>
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="newHero()">Annuler</button>
            <button type="submit" class="btn btn-primary">C'est parti !</button>
        </form>
      </div>
    </div>
  </div>
</div>