<h1>Bienvenue dans le vestiaire de tes heros</h1>

<h2>Ici, tu pourras gérer tout tes héros</h2>

<div>
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        Créer un personnage
    </button>
</div>

<table class="table">
    <tr>
        <th>Nom</th>
        <th>Race</th>
        <th>Lvl</th>
        <th>Xp</th>
        <th>Vie</th>
        <th>Etat</th>
    </tr>
    <tr *ngFor="let hero of heroes">
        <td>{{hero.name}}</td>
        <td>{{hero.race}}</td>
        <td>{{hero.level}}</td>
        <td>{{hero.xp}}</td>
        <td>{{hero.life}}</td>
        <td>{{hero.state}}</td>
    </tr>
</table>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Création de personnage</h4>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmit()" #hero="ngForm">
            <div class="form-group">
                <label for="name">Nom du personnage</label>
                <input type="text" class="form-control" id="name"
                       required
                       [(ngModel)]="model.name" name="name"
                       #name="ngModel">
                <div [hidden]="name.valid || name.pristine"
                    class="alert alert-danger">
                Il nous faut un nom pour ton héro
               </div>
            </div>
            <div class="form-group">
                <label for="race">Race du personnage</label>
                <select type="text" class="form-control" id="race"
                       required
                       [(ngModel)]="model.race" name="race"
                       #race="ngModel">
                       <option *ngFor="let r of races" [value]="r.id">{{r.name}}</option>
                </select>
                <p>
                    {{ races[model.race-1].info }}
                </p>
            </div>
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="hero.reset()">Annuler</button>
            <button type="submit" class="btn btn-primary">C'est parti !</button>
        </form>
      </div>
    </div>
  </div>
</div>
