<div class="container">

    <div class="page-header">
        <h1>Combat Ubuesque</h1>
        <nav class="navbar">
            <ul class="nav nav-pills nav-justified">
                <li [routerLinkActive]="['active']"><a routerLink="/home">Forum</a></li>
                <li [routerLinkActive]="['active']"><a routerLink="/arena">Arene</a></li>
                <li [routerLinkActive]="['active']"><a routerLink="/hero">Vestiaire</a></li>
                <li [routerLinkActive]="['active']"><a routerLink="/register">Compte</a></li>
            </ul>
        </nav>
    </div>
    
    <div class="alert alert-danger alert-dismissible" [ngClass]="etatMsgBox" role="alert">
        <strong>Oups!</strong> {{ errorMessage }}
    </div>

    <router-outlet></router-outlet>

</div>