<form class="form-login form-register" [formGroup]="logForm" (ngSubmit)="onSubmit()" novalidate>
    <h2>Rentre dans l'arène !</h2>
    <div class="form-group">
        <label for="username" class="sr-only">Pseudo</label>
        <input type="text" class="form-control" formControlName="username" name="username" placeholder="pseudo">
        <label for="password" class="sr-only">Mot de passe</label>
        <input type="password" class="form-control" formControlName="password" name="password" placeholder="mot de passe">
    </div>
    <button type="submit" [disabled]="logForm.pristine" class="btn btn-primary">
        <div *ngIf="isLoading" class="loader"><div class="loader-in"></div></div>
        Entrer</button> &nbsp;
</form>
