<div class="alert alert-success alert-dismissible" [ngClass]="etatMsgBox" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Bravo !</strong> Tu as bien été enregistré dans notre de données de héros<br />
    Connecte toi et prepare toi pour le combat !
</div>

<form class="form-horizontal form-register" [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate>
    <h2>Rejoins l'arène !</h2>
    <div class="form-group">
        <label for="username" class="col-sm-4 control-label">Pseudo</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" formControlName="username" name="username">
            
            <div *ngIf="userForm.controls.username.invalid && (userForm.controls.username.dirty || userForm.controls.username.touched)" class="alert alert-danger">
                <div *ngIf="userForm.controls.username.errors.minlength">
                    Ton pseudo est trop court... (4 caractères minimum)
                </div>
                <div *ngIf="userForm.controls.username.errors.required">
                    Il faut un pseudo pour s'inscrire
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="email" class="col-sm-4 control-label">Email</label>
        <div class="col-sm-8">
            <input type="email" class="form-control" formControlName="email" name="email">
            
            <div *ngIf="userForm.controls.email.invalid && (userForm.controls.email.dirty || userForm.controls.email.touched)" class="alert alert-danger">
                <div *ngIf="userForm.controls.email.errors.email">
                    Le format de l'email n'est pas correct (exemple: mail@mail.fr).
                </div>
                <div *ngIf="userForm.controls.email.errors.required">
                    Il faut une adresse mail pour s'inscrire
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="col-sm-4 control-label">Mot de passe</label>
        <div class="col-sm-8">
            <input type="password" class="form-control" formControlName="first" name="first">
            <div *ngIf="userForm.controls.first.invalid && (userForm.controls.first.dirty || userForm.controls.first.touched)" class="alert alert-danger">
                <div *ngIf="userForm.controls.first.errors.minlength">
                    Ton mot de passe est trop court (6 caractères minimum).
                </div>
                <div *ngIf="userForm.controls.first.errors.required">
                    Il faut un mot de passe pour s'inscrire.
                </div>
                <div *ngIf="userForm.controls.first.errors.pattern">
                    Le mot de passe doit contenir au moins une lettre capital et un chiffre.
                </div>
            </div>
        </div>
        <label for="password" class="col-sm-4 control-label">Retaper mot de passe</label>
        <div class="col-sm-8">
            <input type="password" class="form-control" formControlName="second" name="second">
            
            <div *ngIf="userForm.controls.second.invalid && (userForm.controls.second.dirty || userForm.controls.second.touched)" class="alert alert-danger">
                <div *ngIf="userForm.matchPassword">
                    Les deux mots de passe sont différents.
                </div>
                <div *ngIf="userForm.controls.second.errors.minlength">
                    Ton mot de passe est trop court (6 caractères minimum).
                </div>
                <div *ngIf="userForm.controls.second.errors.required">
                    Il faut un mot de passe pour s'inscrire.
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
            <button type="submit"
                    [disabled]="userForm.invalid" class="btn btn-primary">
                <div *ngIf="isLoading" class="loader"></div>
                S'enregistrer
            </button> &nbsp;
            <!--button type="reset" (click)="revert()"
                    [disabled]="heroForm.pristine" class="btn btn-danger">Revert</button-->
        </div>
    </div>
</form>