h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
}

.errMsg {
    display: none;
}

.errMsgActive {
    display: block;
    -webkit-animation-name: apparition_box; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
    animation-name: apparition_box;
    animation-duration: 0.5s;
}

.errMsgInactive {
    -webkit-animation-name: apparition_box; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
    -webkit-animation-direction: reverse;
    animation-name: apparition_box;
    animation-duration: 0.5s;
    animation-direction: reverse;
}

/**
 *  ANIMATIONS
 **/
/* Safari 4.0 - 8.0 */
@-webkit-keyframes apparition_box {
    0%   {transform: scale(0)}
    93%  {transform: scale(1.03)}
    100% {transform: scale(1)}
}

/* Standard syntax */
@keyframes apparition_box {
    0%   {transform: scale(0)}
    93%  {transform: scale(1.03)}
    100% {transform: scale(1)}
}
