<h2>Changement de l'adresse email</h2>
<br />
<p>
    Salut <strong>{{ user.username }}</strong> !
</p>
<p>
    Je viens te confirmer le changement de ton adresse email.
</p>
<p>
    Si tu n'es pas l'auteur de se changement je te conseigne de contacter le support au plus vite.
</p>
<br />
<p>
    Allez, à bientot dans l'arène l'ami !
</p>{# empty Twig template #}
