<h2>Validation de ton compte ubuesque</h2>
<br />
<p>
    Salut l'ami ! Tu viens de t'inscrire dans l'arene des <strong>Combat-Ubuesques</strong> et je t'en remercie !
</p>
<p>
    Pour valider ton inscription, il te manque plus qu'une dernière petite étape.
</p>
<p>
    Clique sur ce <a href="{{ url('user_validation', {'token': user.confirmationToken }) }}">lien</a> pour en finir avec tout ca !
</p>
<br />
<p>
    Allez, à bientot dans l'arène l'ami !
</p>